<h1>SQL50 Study Plan Solutions </h1>

<h2>SELECT</h2>

# Write your MySQL query statement below
select tweet_id from Tweets 
where length(content) > 15

# Write your MySQL query statement below
select name from Customer 
where referee_id <> 2 or referee_id is null

# Write your MySQL query statement below
select name, population, area from World 
where area >= 3000000 or population >= 25000000

# Write your MySQL query statement belowmu_
select distinct (author_id) as id from Views 
where viewer_id = author_id 
order by author_id

# Write your MySQL query statement below
select tweet_id from Tweets 
where length(content) > 15